<div class="section-container" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2">02 : About me</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                Hello World! My name is <h3 class="fullname">Gaurav Shilpakar
                                </h3> I am a
                                Computer Engineer working as a Software Developer at Dataquest Corp, NJ.
                                I gradauated witha a Bachelor's of Computer Engineering from Texas Tech University, LBK,
                                TX.
                                I love design and automation. Here is a list of technologies I work with on a daily
                                basis...
                                <br>
                                <h3></h3>
                                <p></p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <img src="./assets/images/IMG_2792.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>