<div class="container section-container section-container-spacer text-center" id="beyond">
    <h1 class="h2">04 : Beyond</h1>
    <p>While I'm not behind the computer working on a project, I'm probably behind a camera snapping away. Check
        them out!</p>
    <div class="row">
        <div class="column">
            <img src="/assets/img/IMG_1094.jpg" style="width:100%">
            <img src="/assets/img/IMG_9144.jpg" style="width:100%">
            <img src="/assets/img/IMG_2624.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="/assets/img/IMG_7480.jpg" style="width:100%">
            <img src="/assets/img/IMG_2661.jpg" style="width:100%">
            <img src="/assets/img/IMG_3424.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="/assets/img/IMG_2344-2.jpg" style="width:100%">
            <img src="/assets/img/IMG_7902.jpg" style="width:100%">
            <img src="/assets/img/IMG_2679.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="/assets/img/IMG_8847.jpg" style="width:100%">
            <img src="/assets/img/IMG_4541.jpg" style="width:100%">
        </div>
    </div>
</div>
<!-- Photo Grid -->

<style>
    .col-xs-12 {
        padding: 80px 0;
    }

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    .header {
        text-align: center;
        padding: 32px;
    }

    .row {
        display: -ms-flexbox;
        /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap;
        /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        -ms-flex: 25%;
        /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
    }
</style>