<div class="section-container" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2">05 : Contact</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form action="" class="reveal-content">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5"
                                            placeholder="Enter your message"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-gray"
                                        style="background-color: white; color: black;">Send</button>
                                </div>
                                <div class="col-md-5 address-container">
                                    <ul class="list-unstyled">
                                        <li>
                                            <span class="fa-icon-white">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                            </span>
                                            + 806 786 9349
                                        </li>
                                        <li>
                                            <span class="fa-icon-white">
                                                <i class="fa fa-at" aria-hidden="true"></i>
                                            </span>
                                            gaurav.shilpakar@gmail.com
                                        </li>
                                        <li>
                                            <span class="fa-icon-white">
                                                <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                                            </span>
                                            Lubbock, TX 79424
                                        </li>
                                    </ul>
                                    <h3>Find me on </h3>
                                    <a href="http://www.facebook.com/gaurav.shilpakar" title="" class="fa-icon-white">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                    <a href="http://www.twitter.com/gauravshilpakar" title="" class="fa-icon-white">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/gauravshilpakar/" title=""
                                        class="fa-icon-white">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                    <a href="http://www.github.com/gauravshilpakar" title="" class="fa-icon-white">
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                    <a href="http://www.instagram.com/gaurav.shilpakar" title="" class="fa-icon-white">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>